<header>
<%= link_to "TOP", "/trainings", method: :get %>
</header>

<div class="title">
  <h3>
    <%= @trainings %>
  </h3>
</div>

<div class="name">
  <p>
    担当者【<%= @coach %>】
  </p>
</div>

<div class="menu">
  <h4>
     詳細：
  </h4>
  <span>
    <%= @menu %>
  </span>
</div>

<div class="for_user">
  <% if user_signed_in? && current_user.id == @train_day.user_id %>
    <%= link_to "削除", "/trainings/#{@train_day.id}", method: :delete %>
    <%= link_to "編集", "/trainings/#{@train_day.id}/edit", method: :get %>
  <% end %>

</div>
